#wrapper{
    width: 970px;
    margin: 0px auto;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h2{
    text-align: center;
    border-top: solid black;
    width: 675px;
    margin-left: 137.5px;
}
p{
    display: inline-block;
    /* margin-left: 110px; */
}
#submitbutton{
    display: inline-block;
}
#entered_users{
    margin-left: 249.5px;
    text-align: left;
}