<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {%load static%}
    <link rel="stylesheet" href={% static "style.css"%}>
</head>
<body>
    <div id=wrapper>
        <p id=goldCounter name='count'>Your Gold:{{request.session.count}}</p>
        <form action="/earn" method='POST'>
            {%csrf_token%}
            <h2>Farm</h2>
            <p>(earns 10-20 gold)</p>
            <input type="hidden" name='location' value="farm">
            <input type="submit"></input>
        </form>
        <form action="/earn" method='POST'>
            {%csrf_token%}
            <h2>Cave</h2>
            <p>(earns 5-10 gold)</p>
            <input type="hidden" name='location' value="cave">
            <input type="submit"></input>
        </form>
        <form action="/earn" method='POST'>
            {%csrf_token%}
            <h2>House</h2>
            <p>(earns 2-5 gold)</p>
            <input type="hidden" name='location' value="house">
            <input type="submit"></input>
        </form>
        <form action="/earn" method='POST'>
            {%csrf_token%}
            <h2>Casino</h2>
            <p>(earns/takes 0-50 gold)</p>
            <input type="hidden" name='location' value="casino">
            <input type="submit"></input>
        </form>
        <p id=actHead>Activities:</p>
        <textarea name="activities" id="activities" cols="60" rows="10">{{request.session.activities}}</textarea>
        <a href="/reset"><button>Reset</button></a>
    </div>
</body>
</html>